<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL-shortener</title>
  <link href="https://bootswatch.com/5/quartz/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="main-container mb-5">
      <a href="/">
        <h1 class="mb-5">URL Shortener</h1>
        <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
          alt="URLshortener-image">
      </a>
    </div>
    <div class="form-container">
      {{{body}}}
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="../../shortUrlGenerator.js"></script>
{{!-- 表單驗證監聽 --}}
{{!-- 若使用者沒有輸入內容，就按下了送出鈕，需要防止表單送出並提示使用者 --}}
  <script>
    const shortenButton = document.querySelector('#shorten-button')
    const shortenForm = document.querySelector('#shorten-form')
    //const originalUrlInput = document.querySelector('originalUrl-input')
    //const mtHttp = require('./shortUrlGenerator.js').myHttp
    shortenButton.addEventListener('click', function onShortenButtonClicked(event){
      shortenForm.classList.add('was-validated')
    })
  </script>
{{!-- copy功能 --}}
  <script>
    function copyToClipboard(text){
       navigator.clipboard.writeText(text)
       .then(
        function copySuccess() {
          alert("Copied to clipboard!")
       },function copyFailed() {
          alert("Failed to copy to clipboard!")
       })
    }
    const copyButton = document.querySelector('#copy-button')
    const shortUrlInput = document.querySelector('#shortUrl-input')
    copyButton.addEventListener('click', function onCopyButtonClicked(){
      copyToClipboard(shortUrlInput.value)
    })
  </script>
  
</body>
</html>