<form action="/newURL" method="POST" id="generate-form">
  <div class="input-group has-validation">
    <input type="text" name="originalUrl" placeholder="請輸入網址..." class="form-control" aria-describedby="validationFeedback" required>
    <button type="submit" id="generate-button">Generate</button>
    <div class="invalid-feedback" id="validationFeedback">
      Please enter URL.
    </div>
    
  </div>
</form>
