<form action="#">
  <label for="shortUrl-input"><h2>Success!Please use this link :</h2></label>
  <div class="input-group mt-3">
    <input type="text" name="shortUrl" id="shortUrl-input" class="form-control" value="{{newUrl}}" style="color:rgb(2, 76, 236)" disabled>
  </div>
  <button type="submit" class="btn btn-primary mt-3" id="copy-button">Copy</button>
</form>