/* .invalid-feedback, .valid-feedback {
  display: none;
  font-size: 0.8em;
}
.invalid-feedback {
  color: red
}
form.was-validated .form-control:invalid ~ .invalid-feedback{
  display: initial;
} */