/* h1,h2, */
body{
  font-family: 'Raleway', sans-serif;
}
.container{
  width: 800px;
  margin: 10% auto;
}
.main-container{
  text-align:center;
}
img{
  width:300px;
}
a{
  text-decoration: none;
}

.form-container{
  text-align:center;
  height:100%;
}

.input-group{
  height: 50px;
}


#shorten-button{
  width:400px;
  height: 50px;
  font-weight: 600;
  font-size: larger;
}

#copy-button{
  width: 200px;
  height: 50px;
  font-size: larger;
}
